#timerUI{

    height: 40%;
    width:50%;
    text-align:center;
    font-size: 100px;
    margin: 0 auto;
}

.hours, .secs, .mins{
    
    float: left;
    height: 40%;
    width:30%;
}
.stop{
    
    float: left;
    margin:10px;
    height: 20%;
    width:80%;

}